  <.form :let={f} for={%{}} phx-change="validate" phx-submit="save">
   <.input type="text" field={f[:title]} label="title" />
   <.input type="text" field={f[:description]} label="description" />
   <.input type="checkbox" field={f[:status]} label="status" />
   <.button>save</.button>
  </.form> 
    <.link patch ={~p"/form"}> 
    <.button>Return </.button>
    </.link>
  